src/XML_Login.xml

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    xs:elementFormDefaul="qualified" atributeFormDefault="unqualified"
          <xs:element name="authenticationDetail">
             <xs:complexType>
                 <xs:sequence>
                     <xs:element name="username" type="xs:string"/>
                     <xs:element name="password" type="xs:string" minOccurs="1"/>
                 </xs:sequence>
             </xs:complexType>
         </xs:element>
  </xs:schema>